@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/* Global   *******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --purple: #391386;
}

body {
    background: #0c0c0c;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 85%;
    margin: auto;
}

/* @keyframes   *******************************/

@keyframes profile-effect {
    0% {
        box-shadow:  0px 6px 10px var(--purple);
    }
    100% {
        box-shadow: 1px 1px 40px 1px var(--purple);
    }
}

@keyframes dev-effect {
    
    to {
        opacity: .4;
    }
}


@keyframes border-animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(350deg);
    }
}

/* Menu   *******************************/

header {
    padding: 10px 0;
}

header .menu .menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu .menu-content .menu-logo a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.menu .menu-content .menu-logo h1 {
    color: #fff;
}

.menu .menu-content .menu-logo img {
    width: 40px;
    height: 40px;
}

.menu-content .navbar-box ul {
    display: flex;
    list-style: none;

}

.menu-content .navbar-box ul li {
    padding: 20px;
}

.menu-content .navbar-box li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    padding: 0 10px;
}

.menu-content .navbar-box li a::after {
    content: "";
    position: absolute;
    background-color: var(--purple);
    height: 5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    border-radius: 5px;
}

.menu-content .navbar-box li a:hover::after {
    width: 100%;
}

/* Main presentation  *******************************/

main {
    padding-top: 5rem;
    height: 100vh;
    

}

main .presentation .presentation-content{
    display: flex;
    align-items: center;

}

.button-menu {
    width: 44px;
    cursor: pointer;
    display: none;

}



.presentation-content .box-image img {
    width: 500px;
    height: 500px;

    animation: profile-effect 1s infinite alternate-reverse linear;
    
    border-radius: 50%;

}

.presentation-content .box-right {
    margin-left: 5.2rem;
}

.presentation-content .box-right h1 {
    font-size: 2.8rem;
    color: #fff;
}

.presentation-content .box-right span {
    font-size: 2.8rem;
    color: #fff;
    animation: dev-effect 1s ease alternate infinite;
    display: grid;
    text-shadow: 1px -1px 1px var(--purple),
    2px 2px 0px var(--purple),
    6px 6px 10px var(--purple);
    
}

.box-button {
    margin-top: 30px;
    
}
.box-button a {
    position: relative;
}

.box-button button {
    padding: 20px 40px 20px 50px;
    margin-right: 20px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background: #260d59;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    margin-top: 30px;
}

.box-button button:hover {
    background: #391386;
    box-shadow: 1px 1px 5px 1px #fff;
    
}

.img-button {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: -6px;
}

/* About   *******************************/

#about {
    margin-bottom: 200px;
    padding-top: 100px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content {
    padding: 3rem 6rem;
    border-radius: 0 5rem;
    width: 70%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #fff;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1100px;
    background: var(--purple) ;
    animation: border-animate 4s linear infinite;
    border-radius: 0 5rem;
}

.about-content::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #0c0c0c;
    border-radius: 0 5rem;
}

.about-content h1 {
    font-size: 3rem;
    text-shadow:
    2px 6px 20px #000;
    z-index: 10;
    position: relative;
}

.about-content p{
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    text-shadow:
    2px 6px 6px #000;
    text-align: justify;
    position: relative;
    z-index: 10;
}



/* Projetos   *******************************/

.projects {
    color:#fff;
    margin-bottom: 200px;
}

.projects h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
}

.card {
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 15px;
    max-width: 600px;
    align-items: center;
    display: flex;
}

.card-img img {
    width: 250px;
    object-fit: cover;
    border-radius: 10px;  
}

.card-right {
    padding-left: 30px ;
}

.card-right h2 {
    font-size: 2rem;
}

.card-right p {
    margin: 10px 0;
    font-size: 1rem;
}

.card-right button {
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
    font-size: 1rem;
    border: 1px solid #fff;
}

.card-right button:hover {
    background: #0c0c0c;
    color: #fff;
    border: 1px solid #fff;
    transition: .5s;
}

.card-right button:first-child {
    margin-right: 20px;
}

/* Conhecimentos  *******************************/
#conhecimentos {
    margin-bottom: 300px;
}

#conhecimentos h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 100px;
    padding-top: 100px;

}

.conhecimentos-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.box-conhecimentos {
    border-radius: 10px;
    border-bottom: 4px solid #fff;
    padding: 60px 50px;
    background-color: #391386;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box-conhecimentos:hover {
    background-color: #260d59;
    box-shadow: 1px 1px 10px 1px #fff;
    transition: .4s;
}

.box-conhecimentos span {
    color: #fff;
    position: absolute;
    font-size: 1rem;
    bottom: 0;
}

/* Contato   *******************************/

footer {
    height: 400px;
    background: #260d59;
    padding-top: 20px;
}

footer h1 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 3rem;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.rede-contato {
    opacity: 0.4;
}

.rede-contato a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.rede-contato img {
    width: 50px;
    height: 50px;
}

.rede-contato span {
    margin-top: 10px;
    color: #fff;
}

.rede-contato:hover {
    opacity: 1;
}








/* @media   *******************************/

@media (max-width: 1640px) {
    .presentation-content .box-image img {
        width: 400px;
        height: 400px;
}
    
}

@media (max-width: 1224px) {
    .container {
        max-width: 90%;
    }

    

    .presentation-content {
        padding-top: 4rem;
    }
    .presentation-content .box-image img {
        width: 320px;
        height: 320px;
    }
    .presentation-content .box-right h1 {
        font-size: 3.1rem;
    }
    .presentation-content .box-right span{
        font-size: 2.4rem;
    }
    .about-content h1 {
        font-size: 2.2rem;
    }
    .about-content p {
        font-size: 1.3rem;
    }
    
}

@media (max-width: 768px) {
    .presentation-content .box-image img {
        width: 250px;
        height: 250px;
    }
    .presentation-content .box-right h1 {
        font-size: 2.2rem;
    }
    .presentation-content .box-right span{
        font-size: 1.6rem;
    }
    .about-content {
        width: 90%;
    }
    .about-content h1 {
        font-size: 2.2rem;
    }
    .about-content p {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 426px) {
    .navbar-box {
        display: none;
    }
    .presentation-content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .presentation-content .box-image img {
        width: 250px;
        height: 250px;
    }
    .presentation-content .box-right {
        margin: 20px 0;
        padding-left: 10px;
        
    }
    .presentation-content .box-right h1 {
        font-size: 2.4rem;
    }
    .presentation-content .box-right span{
        font-size: 1.6rem;
        margin-top: 10px;
    }
    .about-content {
        padding: 20px;
        width: 100%;
    }
    .about-content h1 {
        font-size: 1.5rem;
    }
    .about-content p {
        font-size: 1rem;
    }

    /* Projetos    *******************/
    .projects h1 {
        font-size: 2.4rem;
    }

    .projects-cards {
        gap: 40px;
    }

    .card {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .card-img img {
        width: 100%;
        margin: 20px 0;
    }

    .card-right h2 {
        font-size: 2rem;
    }
    .card .card-button {
        margin-bottom: 10px;
    }
    #conhecimentos h1 {
        font-size: 2rem;
    }
    .button-menu {
        display: flex;
        position: fixed;
        right: 10px;
        z-index: 999;
    }
    
}

@media (max-width: 378px) {
    
    .presentation-content .box-right h1 {
        font-size: 2rem;
    }
    .presentation-content .box-right span {
        font-size: 1.5rem;
    }
   
    .about-content p {
        font-size: .9rem;
    }
}

@media (max-width: 320px) {
    .presentation-content .box-right h1 {
        font-size: 1.8rem;
    }
    .presentation-content .box-right span {
        font-size: 1.3rem;
    }
   
    .about-content p {
        font-size: .9rem;
    }
}